/*landing page css*/

html body{
    background-color: rgb(116, 132, 153);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
span {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
    color: rgb(27, 53, 27);
}
   /* The Grid */
h3{
    display: flex;
    justify-content: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px;
    color: whitesmoke;
}
.grid-row {
    width: 100%;
    display: table;
    border-collapse:separate;
    border-spacing:15px;
  }

  .button1   {/* Green */
      background-color: rgb(238, 162, 253);
      border-radius: 25px;
    } 
.button2 {/* Blue */
    background-color: rgb(58, 164, 199);
    border-radius: 25px;
} 
.button3 {/* Red */
    background-color: #eb7e76;
    border-radius: 25px;
} 
 
.grid-item {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin:0 0 -5px 0;
  }  